<div class="home">
  <h2>Welcome to Micro-Learning Application</h2>
  <% if @current_user %>
    <% if @read %>
      <p>Thank you for choosing to learning something through this application today!</p>
      <p>See you tomorrow for another read!</p>
      <p>Want to re-read today's article?</p>
      <p>Find it <a href="/article">here</a></p>
    <% else %>
      <p>Kindly help us know what you want to learn today!</p>
      <form class="form-horizontal" method="post" action="/search_articles">
        <div class="form-group">
          <div class="col-2 col-xm-12">
            <label class="form-label" for="search">Topic:</label>
          </div>
          <div class="col-8 col-xm-12">
            <input
              class="form-input"
              type="text"
              name="article[topic]"
              id="search"
              size="100"
              placeholder="introduction to programming">
          </div>
        </div>
        <input type="submit" class="label label-primary" value="Submit">
      </form>
    <% end %>
  <% else %>
    <div class="introduction">
      <p> It is an application that sends you one page per day about something you want to learn.</p>
      <p>You state what you want to learn.</p>
      <p>We provide you with awesome resources and you growing in knowledge.</p>
      <p>
        Kindly
        <span><a href="/register">Register</a></span>
        OR
        <span><a href="/login">Login</a></span>
        to get started!
      </p>
    </div>
  <% end %>
</div>
