<div class="home">
  <h1>Welcome to Micro-Learning Application</h1>
  <% if !@current_user %>
  <div class="introduction">
    <p> It is an application that sends you one page per day about something you want to learn.</p>
    <p>You state what you want to learn.</p>
    <p>We provide you with awesome resources and you growing in knowledge.</p>
    <p>
      Kindly
      <span><a href="/register">Register</a></span>
      OR
      <span><a href="/login">Login</a></span>
      to get started!
    </p>
  </div>
  <% end %>
</div>

