<!DOCTYPE html>
<html>
  <head>
    <title>Micro-Learning Application</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  </head>
  <body>
    <header class="navbar"  style="box-shadow:1px 1px 8px #888888;">
      <section class="navbar-section" style="position: relative; right: -10%;">
        <a href="/"><img src="images/logo.png" alt="logo" style="height:10vh; width:30vw;"></a>
      </section>
      <section class="navbar-section" style="position: relative; left: -10%;">
        <% if @current_user %>
          <a href="/logout" style="text-decoration: none;">Logout</a>
        <% end %>
      </section>
    </header>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% elsif flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>
    <div class="content" style="width:80vw; margin: auto; text-align: center;" >
      <%= yield %>
    </div>
  </body>
</html>