<!DOCTYPE html>
<html>
  <head>
    <title>Micro-Learning Application</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript">
        function showFlash() {
            document.getElementById("flash").remove();
        }
        setTimeout("showFlash()", 2000);
    </script>
  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section-left">
        <a href="/"><img src="images/logo.png" alt="logo"></a>
      </section>
      <section class="navbar-section-right">
        <% if @current_user %>
          <a href="/logout">Logout</a>
        <% end %>
      </section>
    </header>
    <div id="flash">
      <% if flash[:notice] %>
        <p class='flash notice'><%= flash[:notice] %></p>
      <% elsif flash[:error] %>
        <p class='flash error'><%= flash[:error] %></p>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
