<!DOCTYPE html>
<html>
  <head>
    <title>Micro-Learning Application</title>
    <link rel=”stylesheet” href=”stylesheets/style.css” />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img
            src="images/logo.png"
            alt="logo"
            style="width200px; height:80px;">
        </a>
      </div>
      <div class="logout">
        <% if @current_user %>
          <a href="/logout">Logout</a>
        <% end %>
      </div>
    </header>
    <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
    <% elsif flash[:error] %>
    <p><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>