<h2>Login to get started!</h2>

<div>
  <form method="post" action="/login_user">
    <fieldset>
      <label for="email">Email:</label>
      <input type="email" name="user[email]" id="email">
    </fieldset>
    <fieldset>
      <label for="password">Password:</label>
      <input type="password" name="user[password]" id="password">
    </fieldset>
    <input type="submit" value="Submit">
  </form>
</div>