<div style="padding-top:10%;">
  <h1 style="font-size:3rem;" >Oops!</h1>
  <p style="font-size:8rem; color:deepskyblue">404</p>
  <p>Page not found!</p>
  <a href="/">
    <button type="button" style="border-radius: 2%; color: white; background-color: orange;">GO BACK HOME</button>
  </a>
</div>
