<h2>Register to get started!</h2>

<div>
  <form method="post" action="/create_user">
    <fieldset>
      <label for="email">Email:</label>
      <input type="email" name="user[email]" id="email">
    </fieldset>
    <fieldset>
      <label for="password">Password:</label>
      <input type="password" name="user[password]" id="password">
    </fieldset>
    <fieldset>
      <label for="con_password">Confirm Password:</label>
      <input type="password" name="user[con_password]" id="con_password">
    </fieldset>
    <input type="submit" value="Submit">
  </form>
</div>